<div class="row">
  <div class="col-xs-12">
    <%= link_to '<i class="fa fa-pencil"></i> New'.html_safe, new_movie_url, class: "btn btn-primary" %>
    <% @movies.each do |m| %>
      <div><%= link_to "<h1>#{m.title}</h1>".html_safe, movie_path(m) %>
        <span class="pull-left"><%= m.poster_url %></span> <span class="pull-right"><%= m.year %></span>
      </div>
    <% end %>
  </div>
</div>
<h2>Let us know about your movie!</h2>
<div class="row">
	<div class="col-xs-12">
	<%= form_for(@comment) do |f| %>
	  <% if @comment.errors.any? %>
	    <div id="error_explanation">
	      <h2><%= pluralize(@comment.errors.count, "error") %> prohibited this comment from being saved:</h2>

	      <ul>
	      <% @comment.errors.full_messages.each do |msg| %>
	        <li><%= msg %></li>
	      <% end %>
	      </ul>
	    </div>
	  <% end %>

	  <div class="form-group">
	    <%= f.label :subject %><br>
	    <%= f.text_field :subject, class: "form-control", placeholder: "Subject", required: true %>
	  </div>
	  <div class="form-group">
	    <%= f.label :email %><br>
	    <%= f.text_field :email, class: "form-control", placeholder: "Email", required: true %>
	  </div>
	  <div class="form-group">
	    <%= f.label :message %><br>
	    <%= f.text_area :message, class: "form-control", placeholder: "Message", required: true %>
	  </div>
	  <div class="actions">
	    <%= f.submit :submit, class: "btn btn-default" %>
	  </div>
	<% end %>
	</div>
</div>