<p id="notice"><%= notice %></p>

<p>
  <strong>Movie:</strong>
  <%= @character.movie %>
</p>

<p>
  <strong>Name:</strong>
  <%= @character.name %>
</p>

<p>
  <strong>Photo url:</strong>
  <%= @character.photo_url %>
</p>

<%= link_to 'Edit', edit_character_path(@character) %> |
<%= link_to 'Back', characters_path %>
